fastapi~=0.104.1
pydantic~=2.3.0
SQLAlchemy~=2.0.23
pg8000
uvicorn
config~=0.5.1
aiogram~=3.1.1
pip~=23.3.1
attrs~=23.1.0
Pillow~=10.1.0
docutils~=0.20.1
Jinja2~=3.1.2
setuptools~=65.5.0
packaging~=23.2
pyparsing~=3.1.1